.user-reg-form {
    width: 50%;

    &__group:not(:last-child) {
        padding: 0.7rem 0.8rem;
    }

    &__input {
        display: block;
        width: 90%;
        height: 3.5rem;
        padding: 0.5rem 1rem;
    }

    &__save-btn{
        margin: 1rem 0 0 .5rem;
    }

    &__gender-group {
    }

    &__gender {
    }
}
