//Layout
.container {
    display: flex;
}

.user-register-section {
    position: relative;

    padding-left: 5.5rem;
    flex: 0 0 41%;
    border: var(--border-light-1);

    @media screen and (max-width: var(--responsive-medium-large)) {
        padding-left: 0;
    }
}

.tech-info-section {
    flex: 0 0 41%;
    border: var(--border-light-1);
}

.social-med-section {
    flex: 0 0 18%;
    border: var(--border-light-1);
}

section {
    height: 100vh;
}

footer {
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
}
