.nav-bar {
    margin-top: 4rem;
    font-size: 1.6rem;

    &__list {
        list-style-type: none;
        display: flex;
    }

    &__item {
        position: relative;
        padding: 0.2rem 1.1rem;
        background-color: rgb(var(--color-primary-dark));
        margin-right: 0.15rem;
        display: flex;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0.4rem;
            display: inline-block;

            transform: scaleY(0);

            transition: color .25s, transform .25s ease-out, width .12s .25s;
        }

        &:hover::before,
        &--active::before {
            background-color: rgb(var(--color-primary));
            color: var(--color-gray-light-3);            
            transform: scaleY(1);
            width: 100%;
        }

        &:active::before
        {
            background-color: rgb(var(--color-primary));
            opacity: 0.7;
        }
    }

    &__link {
        text-decoration: none;
        color: rgb(var(--color-gray-light-2));
        z-index: 1;
    }

    &__icon {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.1rem;
        fill: currentColor;
    }
}
