.nav-bar {
    margin-top: 1rem;
    font-size: 1.6rem;

    &__list {
        list-style-type: none;
        display: flex;
    }

    &__item {
        position: relative;
        padding: 0.2rem 1.1rem;
        background-color: var(--color-primary-dark);
        margin-right: 0.15rem;
        display: flex;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0.6rem;
            display: inline-block;

            transform: scaleY(0);

            transition: color 0.27s, transform 0.27s, width 0.12s 0.27s;
        }

        &:hover::before,
        &--active::before {
            background-color: var(--color-primary);
            color: var(--color-gray-light-3);            
            transform: scaleY(1);
            width: 100%;
        }

        &:active::before
        {            
            background-color: var(--color-primary);
            opacity: 0.8;
        }
    }

    &__link {
        text-decoration: none;
        color: var(--color-gray-light-2);
        z-index: 1;
    }

    &__icon {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.1rem;
        fill: currentColor;
    }
}
