.user-data {
    font-size: 1.4rem;
    flex: 0 0 25%;

    &__form {
        border: 1px solid var(--color-gray-light);
        padding: .5rem 0 .5rem;
    }

    &__form-group {
        margin: 1.2rem 1rem;

        &:first-child{
            margin-top: -.1rem;
        }
    }

    &__lbl{
        display: inline-block;
        margin: 0 0 .3rem;
    }

    &__input {
        width: 100%;
        height: 3rem;
    }

    &__gender-group{
        display: flex;        
    }

    &__gender {
        flex: 0 0 50%;
    }

    &__btn-save{
        display: flex;
        justify-content: center;
    }
}
