//Base
:root {
    
    --color-primary: #54C3E1;
    --color-primary-light: #6BC378;
    --color-primary-dark: #5DA49B;

    --color-light: #FFF;
    --color-gray-light-1: #bbb;
    --color-gray-light-2: #F5F5F5;

    --color-gray-dark: #777;
    --default-font-size: 1.6rem;

    --border-test: 1px var(--color-gray-dark) solid;

    --responsive-medium-large: 1025px;
    --responsive-medium: 900px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: var(--color-gray-dark);
    background-color: var(--color-gray-light-2);
}

//Shared components
.app-input-req {
}

.app-btn-primary {
}
